= form_for @blog, :html => {:multipart => true} do |form|
  %dl.form
    %dt
      = form.label :title, "Title："
    %dd
      %input#blog_title{:name => "blog[title]", :size => "30", :type => "text", :value => @blog.title}

    %dd.submit
      %button{:type => "submit"} 保 存
