#main-content
  #col_1
    %h3.round
      %a{:href => "/pictures"} Pictures
    %a.linkbutton{:href => "/pictures"} Get More
  #col_2
    %h3.round
      %a{:href => '/pictures'} Blogs
    = render '/blogs/blog_items'
    %a.linkbutton{:href => "/blogs"} Get More

  #col_3
    %h3.round
      %a{:href => '/pictures'} Words
    = render '/words/word_items'
    %a.linkbutton{:href => "/pictures"} Get More

    .clear
  .clear
