body {
  /*font: 18px  "Trebuchet MS", Verdana, sans-serif;*/
  font: 18px Cambria, Georgia, Times, 'Times New Roman', serif;
  //color: #666666;
  color: #444;
  //background: #808040;
  background: image-url('bg.png');
}

* {
  padding:0;
  margin:0;
}

.clear {
  clear:both;
}

#wrap {
  background: image-url('headerbg.jpg') no-repeat; 
  background-color:whirt;
  width:783px; 
  margin:auto; 
  border-top: solid 8px #efefef
}

#header {
  height:128px;
}

#top-content {
  // background: image-url('sidebarbg.jpg');
  padding:0 38px 25px 38px;
}

#footer  {
  background: image-url('footerbg.jpg') bottom no-repeat; 
  padding-bottom:75px;
}

a {
  color:#006600;
  text-decoration:none;
}

a:visited,active {
  text-decoration:none; 
  color:#003300;
}

a:hover {
  color:#000; 
  text-decoration:underline;
}

#main-content {
  padding:22px;
  background-color:#FFFFFF;
}
#main-content p {
  line-height:22px;
}

h2 {
  font: normal 18px "Trebuchet MS", Verdana, sans-serif;
  color: #808040;
}

#main-content h3 {
  font: bold 14px "Trebuchet MS", Verdana, sans-serif; 
  color:#666;
}

#main-content .subhead {
  display:block;
  padding:3px 5px 0 8px;
  margin-bottom:5px;
}

/*Home Page Columns*/
#col_1 {
  // width:45%; 
  height:200px;
  padding:5px;
}

#col_2 {
  width:48%; 
  float:left;
  height:400px;
  padding:5px;
}

#col_3 {
  width:48%; 
  float:right;
  padding:5px;
  height:400px;
}

#topcol { 
  padding:45px 5px 20px 5px;
  margin-bottom: 15px;
}

#col_1 p, #col_2 p, #col_3 p {
  padding:0 8px 5px 8px;
  line-height:18px;
  display:block;
  /*Delete this Line if you don't want fixed height*/ height:120px}/*----*/

#main-content .round {
  background-color: #ccc;
  text-align: center;
  color: #fff;
  line-height: 8px;
  width: 300px;
  padding: 8px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
}

#col_1 .subhead {
  text-align: center;
  background: image-url('banner_blog.jpg') no-repeat; 
  height:22px; 
}

#col_2 .subhead {
  text-align: center;
  background: image-url('banner_picture.jpg') no-repeat;
  height:22px;
}

#main-content div img {
  background-image:#efefef; 
  border:solid 1px #cccccc; 
  padding:3px;
}

.leftalign {
  float:left;
  margin:5px 10px 5px 0;
}

.rightalign {
  float:right;
  margin:5px 5px 5px 10px;
}

.linkbutton {
  display:block; 
  background: image-url('button1.jpg') no-repeat; 
  width:79px; 
  height:22px;
  text-align:right;
  padding:5px 20px 0 5px; }

.linkbutton:hover {
  background: image-url('button3.jpg') no-repeat;
}
#sitename {
  display:block;
  padding: 60px 55px 0 45px;
  color: #808040;
  font: bolder small-caps 22px "Trebuchet MS", Verdana, sans-serif;
  text-align:right;
}
#sitename .desc {font-size:14px; color:#ccc; font-variant:normal; display:block}
#topmenu ul {text-align:center; display:block; float:right; 
             /*change the value below to decrease or increase the width of top menu*/
             width:500px;
             /*--*/
}
#topmenu li {display: inline;}
#topmenu a, #topmenu a:visited, #topmenu a:active{
  display:block;
  float:left;
  height:21px;
  padding: 5px 15px 0 15px; 
  text-decoration:none; 
  color:#000000;
}
#topmenu a:hover { background-image: url(topmenubhvr.jpg) repeat-x bottom;}
#topmenu .active a, #topmenu .active a:visited, #topmenu .active a:active { background-image: url(topmenubhvr.jpg) repeat-x bottom; color:#000;}

#ft_btm{
  padding:30px 230px 20px 30px;
  text-align: right;

}
#btm_cont {padding:5px 45px 30px 45px; background: image-url('bottomend.jpg') no-repeat center bottom; }
.btm_box {width:110px; padding:5px; float:left; margin:8px;}

#rightcontent {float:right; width:475px; padding:45px 0 0 0}
#sidebar { margin:0px 500px 10px 0; padding-top:45px;}

#main-content table {
  // width:90%;
  border:1px solid #A0C6EB;
  margin-bottom:20px;
}
#main-content th {
  background-image:#D2E3F3;
  padding:5px 15px 5px 15px;
  color:#000000;
  font-weight:bold;
  text-align:center;
  border-bottom:1px solid #BDDB99;
  font-size: 16px;
}
#main-content td {
  border-bottom:1px solid #D2E3F3;
  padding:5px 15px 5px 15px;
  border-right:1px solid #D2E3F3;
}


.textfield {
  display: block;
  width:50%;
  margin:3px 3px 3px 30px;
  padding:3px;
  border: 1px solid #D2E3F3;
  background-image: #EEF4FB;
}
label {	display: block; margin:3px; padding: 5px;}
.button {
  display: block;
  padding:0px;
  margin:3px;
  border: 2px solid #C8E9F7;
  color:#000000;
  background-image: #EEF4FB;
}
.textfield:hover {
  background-image:#FFFFCC;
}
.textfield:focus {background-image:#ffffff;}
.hide {display:none;}

#rightcontent ul, #rightcontent ol {padding:10px; margin:10px;}
ol {list-style:decimal;}
#rightcontent ul {list-style: square;}
#rightcontent p {margin-bottom:20px;}
#rightcontent li {padding:3px;}

#sidebar ul {list-style:none; margin-bottom:15px;}
#sidebar li {display:block; height:25px; border-bottom:dashed 1px #CCCCCC;}
#sidebar li a {display:block; height:20px; padding:5px 5px 0 5px;}
#sidebar li a:hover {background-image:#efefef; text-decoration:none;}

blockquote {display:block; padding:5px 5px 5px 55px; margin:5px; background: image-url('quote.jpg') no-repeat;}
blockquote p {margin-bottom:0; font: normal 16px Georgia, "Times New Roman", Times, serif;}
.extract {float:left; width:300px;}

/*
# Pagination ###############################################################################################
*/
.pagenavi{
	margin-bottom:20px;
}
.pagenavi a{
	display:block;float:left;margin-right:3px;padding:1px 7px;background:#e5e5e5;border:1px solid #ccc;color:#555;
	-webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px;
	-webkit-box-shadow:inset 0 1px 0 rgba(255,255,255,.6),0 1px 1px rgba(0,0,0,.1);-moz-box-shadow:inset 0 1px 0 rgba(255,255,255,.6),0 1px 1px rgba(0,0,0,.1);box-shadow:inset 0 1px 0 rgba(255,255,255,.6),0 1px 1px rgba(0,0,0,.1);
}
.pagenavi a:hover,.wp-pagenavi a:focus{
	border-color:#aaa;color:#333;
}
.pagenavi a:active{
	position:relative;top:1px;
	-webkit-box-shadow:inset 0 1px 0 rgba(255,255,255,.6);-moz-box-shadow:inset 0 1px 0 rgba(255,255,255,.6);box-shadow:inset 0 1px 0 rgba(255,255,255,.6);
}
