!!!
%html
  %head
    %meta{:content => "text/html; charset=utf-8", "http-equiv" => "Content-Type"}/
    %title Dream-Garden
    = stylesheet_link_tag "application" 
  %body
    #wrap
      = yield
     
      #footer
        #btm_cont
        #ft_btm
